/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: futura;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** my code ****/
/* Global Styles */
html, body {
  height: 100%;
}

#top {
  width: 100%;
  height: 20px;
  background-color: #1C6310;
}

#articleHead {
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 300ms ease;
}

#articleHead #video-background {
  backface-visibility: hidden;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  perspective: 1000;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -1;
}

#articleHead #title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F7F2;
  opacity: .6;
  width: 60%;
  margin-top: 20%;
  margin-right: 3%;
  float: right;
  padding: 20px;
}

#articleHead #title h1 {
  font-size: 48px;
  text-align: center;
  padding-bottom: 20px;
}

#articleHead #title h1 a {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, black 50%);
  background-position: -99.9% 0;
  background-size: 200% auto;
  line-height: 1.15em;
  transition: background-position 2s ease-out;
}

#articleHead #title .anim {
  background-position: -0% 0;
}

#articleHead #title #line {
  width: 30%;
  border-bottom: 2px black solid;
}

#articleHead #title #image {
  padding-top: 20px;
  padding-bottom: 5px;
}

@media screen and (max-width: 550px) {
  #articleHead #title {
    width: 80%;
    margin-top: 80%;
  }
  #articleHead #title h1 {
    font-size: 30px;
  }
  #articleHead #title h1 a {
    background-position: -0% 0;
  }
  #articleHead #title h1 .anim {
    background-position: -99.9% 0;
  }
  #articleHead #title #image {
    height: 40px;
  }
}

#content {
  background-color: white;
  position: relative;
  z-index: 1;
  margin: auto;
}

#content p {
  width: 50%;
  line-height: 200%;
  margin: 20px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
}

#content a {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, black 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 1s ease-out;
}

#content .anim {
  background-position: -99.99% 0;
}

@media screen and (max-width: 907px) {
  #content p {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  #content p {
    width: 90%;
    font-size: 15px;
  }
}

#content #fullscreen1 {
  background: url(resources/images/full1.jpg) center top fixed no-repeat;
  background-size: cover;
  height: 100vh;
}

#content #fullscreen1 h1 {
  text-align: center;
  padding-top: 25vh;
  font-size: 70px;
  line-height: 150%;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 907px) {
  #content #fullscreen1 h1 {
    width: 80%;
    font-size: 60px;
    padding-top: 25vh;
  }
}

@media screen and (max-width: 720px) {
  #content #fullscreen1 h1 {
    width: 80%;
    font-size: 60px;
    padding-top: 5vh;
  }
}

@media screen and (max-width: 550px) {
  #content #fullscreen1 h1 {
    font-size: 45px;
    padding-top: 15vh;
  }
}

#content #fullscreen1 a {
  color: white;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 0, 0.5) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 1s ease-out;
}

#content #fullscreen1 .anim {
  background-position: -99.99% 0;
}

#content #fullscreen2 {
  background: url(resources/images/full2@3x.png) center top fixed no-repeat;
  background-size: cover;
  height: 100vh;
}

#content #fullscreen2 h1 {
  text-align: center;
  padding-top: 25vh;
  font-size: 70px;
  line-height: 150%;
  width: 80%;
  margin: auto;
}

#content #fullscreen2 h1 #yellow {
  color: white;
  background-color: rgba(255, 255, 0, 0.5);
}

#content #fullscreen2 h1 #pink {
  color: white;
  background-color: rgba(255, 192, 203, 0.5);
}

@media screen and (max-width: 907px) {
  #content #fullscreen2 h1 {
    width: 90%;
    font-size: 60px;
    padding-top: 25vh;
  }
}

@media screen and (max-width: 550px) {
  #content #fullscreen2 h1 {
    font-size: 45px;
    padding-top: 25vh;
  }
}

#content #fullscreen2 a {
  color: white;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 1s ease-out;
}

#content #fullscreen2 .anim {
  background-position: -99.99% 0;
}

#content #vidsection {
  padding: 1px;
  background: url(resources/images/dc.gif) center top fixed no-repeat;
  background-size: cover;
}

#content #vidsection p {
  font-size: 15px;
  width: 30%;
  color: white;
}

@media screen and (max-width: 550px) {
  #content #vidsection p {
    width: 50%;
  }
}

#content #vidsection #v1 {
  margin-top: 20%;
  margin-left: 60%;
}

@media screen and (max-width: 550px) {
  #content #vidsection #v1 {
    margin: auto;
    margin-bottom: 25%;
  }
}

#content #vidsection #v2 {
  margin-top: 60%;
  margin-left: 10%;
}

@media screen and (max-width: 550px) {
  #content #vidsection #v2 {
    margin: auto;
    margin-bottom: 25%;
  }
}

#content #vidsection #v3 {
  margin-top: 50%;
  margin-left: 60%;
  margin-bottom: 50%;
}

@media screen and (max-width: 550px) {
  #content #vidsection #v3 {
    margin: auto;
    margin-bottom: 25%;
  }
}

#demo {
  margin-top: 60px;
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 907px) {
  #demo {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  #demo {
    width: 95%;
  }
}

#demo h1 {
  margin-top: 60px;
  font-size: 30px;
  width: 50%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 550px) {
  #demo h1 {
    width: 80%;
  }
}

#demo h2 {
  text-align: center;
}

#demo p {
  margin: auto;
  width: 50%;
  font-size: 12px;
  margin-bottom: 15px;
}

@media screen and (max-width: 550px) {
  #demo p {
    width: 80%;
  }
}

.slider .left.image {
  border: 2px solid black;
}

.slider .right.image {
  border: 2px solid rgba(255, 255, 0, 0.5);
}

footer {
  margin-top: 25px;
  height: 20px;
  background-color: #1C6310;
}
